pkgbase = pi-desktop-bin
	pkgdesc = Local-first AI coding agent desktop: Electron UI and Rust host core (prebuilt)
	pkgver = 0.18.0_beta.2.r4879.g7949d6f
	pkgrel = 1
	url = https://github.com/WWSS11/pi-desktop-aur
	arch = x86_64
	license = LGPL-3.0-only
	depends = gtk3
	depends = nss
	depends = libxss
	depends = libxtst
	depends = libnotify
	depends = libsecret
	depends = libayatana-appindicator
	depends = at-spi2-core
	depends = xdg-utils
	depends = hicolor-icon-theme
	depends = libpulse
	depends = libdrm
	depends = mesa
	depends = libxkbcommon
	depends = libxcomposite
	depends = libxdamage
	depends = libxrandr
	depends = libxshmfence
	depends = libglvnd
	depends = libjpeg-turbo
	depends = libxml2
	depends = libxslt
	depends = minizip
	depends = opus
	depends = flac
	depends = libevent
	depends = c-ares
	depends = brotli
	provides = pi-desktop
	conflicts = pi-desktop
	conflicts = pi-desktop-git
	source = https://github.com/WWSS11/pi-desktop-aur/releases/download/v0.18.0_beta.2.r4879.g7949d6f/pi-desktop-git-0.18.0_beta.2.r4879.g7949d6f-1-x86_64.pkg.tar.zst
	sha256sums = 17925381c5528d641c16560847cf7dec12e180ebd76d4f7d1c8214e13a1708b7

pkgname = pi-desktop-bin
