pkgbase = pi-desktop-bin
	pkgdesc = Local-first AI coding agent desktop: Electron UI and Rust host core (prebuilt)
	pkgver = 0.18.0_beta.2.r4858.gc99aac5
	pkgrel = 1
	url = https://github.com/WWSS11/pi-desktop-aur
	arch = x86_64
	license = LGPL-3.0-only
	depends = gtk3
	depends = nss
	depends = libxss
	depends = libxtst
	depends = libnotify
	depends = libsecret
	depends = libayatana-appindicator
	depends = at-spi2-core
	depends = xdg-utils
	depends = hicolor-icon-theme
	depends = libpulse
	depends = libdrm
	depends = mesa
	depends = libxkbcommon
	depends = libxcomposite
	depends = libxdamage
	depends = libxrandr
	depends = libxshmfence
	depends = libglvnd
	depends = libjpeg-turbo
	depends = libxml2
	depends = libxslt
	depends = minizip
	depends = opus
	depends = flac
	depends = libevent
	depends = c-ares
	depends = brotli
	provides = pi-desktop
	conflicts = pi-desktop
	conflicts = pi-desktop-git
	source = https://github.com/WWSS11/pi-desktop-aur/releases/download/v0.18.0_beta.2.r4858.gc99aac5/pi-desktop-git-0.18.0_beta.2.r4858.gc99aac5-1-x86_64.pkg.tar.zst
	sha256sums = e992c237d1f69322099f49538bf4c1c3601651a598e5b511bfa4eb23f5f53e59

pkgname = pi-desktop-bin
