pkgbase = pi-desktop-bin
	pkgdesc = Local-first AI coding agent desktop: Electron UI and Rust host core (prebuilt)
	pkgver = 0.16.1.r4542.g104c361
	pkgrel = 1
	url = https://github.com/WWSS11/pi-desktop-aur
	arch = x86_64
	license = LGPL-3.0-only
	depends = gtk3
	depends = nss
	depends = libxss
	depends = libxtst
	depends = libnotify
	depends = libsecret
	depends = libayatana-appindicator
	depends = at-spi2-core
	depends = xdg-utils
	depends = hicolor-icon-theme
	depends = libpulse
	depends = libdrm
	depends = mesa
	depends = libxkbcommon
	depends = libxcomposite
	depends = libxdamage
	depends = libxrandr
	depends = libxshmfence
	depends = libglvnd
	depends = libjpeg-turbo
	depends = libxml2
	depends = libxslt
	depends = minizip
	depends = opus
	depends = flac
	depends = libevent
	depends = c-ares
	depends = brotli
	provides = pi-desktop
	conflicts = pi-desktop
	conflicts = pi-desktop-git
	source = https://github.com/WWSS11/pi-desktop-aur/releases/download/v0.16.1.r4542.g104c361/pi-desktop-git-0.16.1.r4542.g104c361-1-x86_64.pkg.tar.zst
	sha256sums = a062893cd9af0042dc04cf2e3ffd2fb1c71416dfa750592d43c508123c1f8cbd

pkgname = pi-desktop-bin
